*.log
.DS_Store
Thumbs.db

.env
.env.*
!.env.example

/node_modules
/vendor

/public/build
/public/hot
/public/storage

/storage/*
!/storage/app/
!/storage/app/public/
!/storage/framework/
!/storage/logs/

/storage/*.key

.phpunit.result.cache
/.phpunit.cache

.idea
.vscode
.fleet
.zed
.nova

auth.json
Homestead.json
Homestead.yaml